@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
  scroll-behavior: smooth;
}

/* Header */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

#header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('files/background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 0;
}

#header .header-text {
    position: relative;
    z-index: 1;
    margin-top: 20%;
    font-size: 30px;
    color: #ffffff;
    opacity: 1;
}

.container {
    padding: 10px 10%;
}

#header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
     
}

#header .logo {
    width: 200px;
    margin-top: 20px;
}

#header nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

#header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

#header nav ul li a::after {
    content: '';
    width: 0;
    height: 5px;
    background: #6fa8dc;
    position: absolute;
    left: 0;
    bottom: -8px;
}

#header nav ul li a:hover::after {
    content: '';
    width: 100%;
    height: 5px;
    background: #6fa8dc;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

#header .header-text {
    margin-top: 20%;
    font-size: 30px;
    
}

#header .header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

#header .header-text h1 span {
    color: #6fa8dc;
}

#header .icons {
  margin-top: 10px;
  display: inline-flex;
}

#header .icons a {
  text-decoration: none;
  color: #ffffff;
  display: inline-flex;
}

#header .icons i {
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#header .icons i:hover {
  color: #6fa8dc;
  transform: scale(1.2);
}

#header .resume-icon {
  padding: 0.2rem 0.5rem;
  background-color: #ffffff;
  color: #073b5b;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#header .resume-icon:hover {
  background-color: #6fa8dc;
  transform: scale(1.2);
}

/* About */

#about {
    padding: 80px 0;
    color: #ffffff;
}

#about .container {
  display: flex;
}

#about img {
  max-width: 35%;
  width: 100%;
  max-height: 100%;
  border-radius: 15px;
  height: auto;
  margin-right: 50px;
  margin-bottom: 20px;
  object-fit: contain;
}

#about .sub-title {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 5px;
}

#about .tab-titles {
     display: flex;
     margin: 20px 0 40px;
}

#about .tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

#about .tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #6fa8dc;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s
}

#about .tab-links.active-link::after {
    width: 50%
}

#about .tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

#about .tab-contents ul li span {
    color: #6fa8dc;
    font-size: 14px;
}

#about .tab-contents {
    display: none
}

#about .tab-contents.active-tab {
    display: block;
}

/* Experience */

#experience {
  background-color: #121212;
  color: white;
  padding: 2rem 1rem;
}

#experience .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#experience .sub-title {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.experience-item {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.experience-item img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.experience-item img:hover {
  transform: scale(1.1);
}

.experience-details {
  flex: 1; 
}

.experience-details h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.experience-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Projects */

#projects {
  background-color: #121212;
  color: white;
  padding: 2rem 1rem;
}

#projects .container {
  max-width: 1200px;
  margin: 0 auto;
}

#projects .sub-title {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

.project-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}

.project-item {
  flex: 1;
  max-width: calc(33.333% - 1rem);
  text-align: center;
}

.project-item img {
  width: 250px;
  height: 175px;
  border-radius: 8px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.project-item img:hover {
  transform: scale(1.2);
}

.project-item h2 {
  text-align: center;
  margin-top: 1rem;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-item p {
  margin-top: 15px;
  font-size: 20px;
}

/* Modals */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #121212;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 1000px;
  width: 100%;
  max-height: 500px;
  height: 100%;
}

.modal-content h2 {
  font-size: 30px;
}

.modal-content p {
  font-size: 18px;
  margin-top: 2rem;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Contact */

#contact .btn.btn2 {
  display: inline-block;
  background: #6fa8dc;
  color: #ffffff;
  border: #000000;
  margin-top: 40px;
}

#contact .contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#contact form input, form textarea {
  width: 35%;
  border: 0;
  outline: none;
  background: #363636;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}

#contact .sub-title {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 50px
}

#contact form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease;
  font-weight: 600;
}

#contact form .btn2:hover {
  transform: scale(1.2);
}

.hidden {
  display: none;
}

#success-message.visible {
  display: flex;
  background-color: #119c11;
  width: 25%;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
}

#error-message.visible {
  display: flex;
  background-color: #7f1e13;
  width: 25%;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
}